*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,Arial,sans-serif;
}

body{
overflow:hidden;
background:#000;
}

/* LOGIN */

#login{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#0078D7,#004E92);
color:white;
z-index:9999;
}

#login h1{
font-size:60px;
margin-bottom:20px;
}

#login input{
width:280px;
padding:12px;
border:none;
border-radius:10px;
margin-bottom:15px;
font-size:18px;
}

#login button{
padding:12px 35px;
border:none;
border-radius:10px;
background:white;
cursor:pointer;
font-size:18px;
}

#error{
margin-top:15px;
color:#ffd6d6;
}

/* ESCRITORIO */

#desktop{
display:none;
width:100vw;
height:100vh;
background:url("https://images.unsplash.com/photo-1503264116251-35a269479413?q=80&w=1920") center center/cover;
}

#icons{
padding:20px;
display:flex;
flex-direction:column;
gap:18px;
}

.icon{
width:90px;
color:white;
text-align:center;
cursor:pointer;
}

.emoji{
font-size:40px;
margin-bottom:8px;
}

/* BARRA */

#taskbar{
position:fixed;
bottom:0;
left:0;
width:100%;
height:48px;
background:rgba(20,20,20,.85);
display:flex;
align-items:center;
justify-content:space-between;
padding:0 15px;
color:white;
backdrop-filter:blur(8px);
}

#start{
padding:8px 18px;
border:none;
background:#0078D7;
color:white;
border-radius:8px;
cursor:pointer;
}

/* VENTANA */

#window{
display:none;
position:absolute;
top:70px;
left:120px;
width:900px;
height:520px;
background:white;
border-radius:10px;
overflow:hidden;
box-shadow:0 0 20px rgba(0,0,0,.4);
}

#windowBar{
height:40px;
background:#202020;
color:white;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 15px;
}

#closeWindow{
background:red;
border:none;
color:white;
width:35px;
height:28px;
border-radius:5px;
cursor:pointer;
}

#frame{
width:100%;
height:calc(100% - 40px);
border:none;
background:white;
}
