*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{
overflow:hidden;
background:#111;
}

#lockScreen{
position:fixed;
width:100%;
height:100%;
background:linear-gradient(135deg,#2196F3,#0D47A1);
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
color:white;
}

#lockScreen h1{
font-size:60px;
margin-bottom:30px;
}

#password{
width:250px;
padding:12px;
border:none;
border-radius:10px;
font-size:18px;
margin-bottom:15px;
}

#lockScreen button{
padding:12px 30px;
border:none;
border-radius:10px;
background:white;
cursor:pointer;
font-size:18px;
}

#error{
margin-top:10px;
color:#ffb3b3;
}

#desktop{
width:100vw;
height:100vh;
background:url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee?q=80&w=1920") center center/cover no-repeat;
}

#desktopIcons{
padding:20px;
display:flex;
flex-direction:column;
gap:20px;
}

.icon{
width:90px;
height:90px;
background:rgba(255,255,255,.2);
back
